* {
    margin: auto; /* Apply 10px margin to all elements */
    padding: auto; /* Apply 10px padding to all elements */
    box-sizing: border-box; /* Ensures padding is included in element's total width and height */
}

body {
    font-family: 'Tahoma', sans-serif;
    background-color: rgba(0, 0, 0, 0.411);
    text-align: center;
    margin: auto;
    padding: auto;
    color: rgba(255, 255, 255, 0.717);
}

.container {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: auto;
    background-color: black;
    padding: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    font-family: 'Tahoma', sans-serif;
}

h1 {
    color: white;
}

input {
    margin: auto;
    padding: auto;
    width: calc(100% - 22px);
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.836);
    color: rgba(255, 255, 255, 0.717);
}

button {
    margin: auto;
    padding: auto;
    margin-top: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Tahoma', sans-serif;
}

button:hover {
    background-color: #0056b3;
}

.results {
    margin: auto;
    padding: auto;
}

.result-item span {
    text-align: center;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.717);
}

.result-item {
    display: flex;
    align-items: center;
    margin-bottom: auto;
}

.planet-names {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    /* text-align: center; */
    /* align-items: center; */
}

.name-fa {
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
    font-size: 16px;
    direction: rtl; /* center to center for Persian */
    text-align: center;
}

.name-en {
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.717);
    text-align: center;
}

.weight-result {
    /* margin-center: auto; */
    text-align: center;
    font-weight: bold;
}

img {
    height: 50px;
    object-fit: cover;
    /* text-align: center; */
}
